<!DOCTYPE html>
<html lang="en">
<head>
	<title>Oneros Tech</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="../static/css/game.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>
<body>
	

	{% block content %}



	{% endblock %}

	<div style="padding-top: 15%;">
		<footer class="footer" >
			<div class="container">
				<div class="row " style="padding-top: 2%;">
					<div class="offset-3 col-9 offset-sm-2 col-sm-4">
						<figure>
	  						<span style="padding-left: 7%;"><img src="static/header_icon.png" width="60" height="50" style="color: white;"></span>
	  						<figcaption><h5 ><font color="white">Oneros Tech</font></h5></figcaption>
						</figure>
						
					</div>
					<div class="col-12 col-sm" style="padding-top: 2%;">
						<p><font color="white"><a href="#" style="color: white;text-decoration: none;">HOME</a><span style="padding-left: 1%;padding-right: 1%">|</span><a href="#" style="color: white;text-decoration: none;">GAMES</a><span style="padding-left: 1%;padding-right: 1%">|</span><a href="#" style="color: white;text-decoration: none;">ABOUT</a><span style="padding-left: 1%;padding-right: 1%">|</span><a href="#" style="color: white;text-decoration: none;">CONTACT</a><span style="padding-left: 1%;padding-right: 1%" style="color: white;text-decoration: none;">|</span><a href="#" style="color: white;text-decoration: none;">PRIVACY POLICY</a></font></p>
						<p style="padding-top: 6%;">
							<font color="white">&copy; 2020 ONEROS TECH</font>
						</p>
					</div>
				</div>
				
			</div>
		</footer>
	</div>

	<script src="{{url_for('static',filename='js/jquery.slim.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>