	{% extends 'base.html' %}
	{% block content%}
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color:#06394E;">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mr-auto" href="#"><img src="static/header_icon.png" class="img-fluid mr-3" height="60" width="60"><font color="#F79A5A" size="5%" style="font-family: 'Open Sans', sans-serif;"><strong>Oneros Tech</strong></font></a>

			<div class="collapse navbar-collapse" id="content">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/"><font size="2%">GAMES</font></a></li>
					<span style="position: relative;color: white;top:7px;" class="d-none d-sm-block">|</span>
					<li class="nav-item"><a class="nav-link" href="/about"><font size="2%">ABOUT</font></a></li>
					<span style="position: relative;color: white;top:7px;" class="d-none d-sm-block">|</span>	
					<li class="nav-item"><a class="nav-link" href="/contact"><font size="2%">CONTACT</font></a></li>
					<span style="position: relative;color: white;top:7px;" class="d-none d-sm-block">|</span>
					<li class="nav-item active"><a class="nav-link" href="/privacy"><font size="2%">PRIVACY POLICY</font></a></li>	
				</ul>
			</div>
		</div>
	</nav>

	<div class="follow">
		<!-- <div class="container"> -->
			<div class="row row-body align-items-center" >
			
				<div class="offset-2 col-2 d-none d-sm-block">
					<font size="4px" color="white"><center>Follow Us:</center></font>
				</div>
				<div class="col-2 offset-1 offset-sm-0 col-sm-1">
					<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
				</div>
				<div class="col-2 offset-sm-0 col-sm-1">
					<a href="#"><i class="fa fa-youtube-play fa-lg"></i></a>
				</div>
				<div class="col-2 offset-sm-0 col-sm-1">
					<a href="#"><i class="fa fa-instagram fa-lg"></i></a>
				</div>
				<div class="col-2 offset-sm-0 col-sm-1 d-none d-sm-block">
					<a href="#"><i class="fa fa-snapchat fa-lg"></i></a>
				</div>
				<div class="col-2 offset-sm-0 col-sm-1">
					<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
				</div>
				<div class="col-2 offset-sm-0 col-sm-1">
					<a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
				</div>
			</div>
			
		<!-- </div> -->
	</div>

	<div class="container">
		<p style="padding-top: 2%;"><center><h3><font color="black">Privacy Policy</font></h3></center></p>
		<p>
			<center><h6><font color="black">We Aim to provide Expert Advice and quality Service</font></h6></center>
		</p>
		<div class="row">
			<div class="offset-sm-2 col-sm-8 offset-1 col-10">
				<font color="black"><center>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					<br><br>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

				</center></font>
			</div>
		</div>
	</div>

	{% endblock %}